*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Overpass', sans-serif;
}

body{
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.package{
    
}

.package, .thankubox{
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;

  }

.package img{
    border: none;
    border-radius: 50%;
    background-color: hsla(215, 18%, 28%, 0.434);
    padding: 0.5rem;
    margin: 8rem 26rem;

    position: absolute;
    top: 30px;
    left: 30px;
}

.package h1{
    color: hsl(0, 0%, 100%);
    margin: 4rem .5rem 1rem;


    top: 90px;
    left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.package p{
    color: hsl(217, 12%, 63%);
    margin: 0.8rem .5rem 1rem;
    
}

.package ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.package ul li button{
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background-color: hsl(213, 20%, 22%);
    color: #fff;
    padding: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.package ul li button:hover{
    background-color: hsl(25, 97%, 53%);
}

.package ul li button:focus{
    background-color: hsl(217, 12%, 63%);
}

.btn-submit{
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    width: 100%;
    padding: 0.5rem 0 0.4rem;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover{
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}


ul{
    list-style-type: none;
}

button{
    font-family: inherit;
}

.thankubox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thankubox img{
    margin: 1rem;
}

.thankubox p.gray{
    background-color: hsl(212, 18%, 20%);
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
    margin: 0.8rem;
}

.thankubox h2{
    color: #fff;
    margin: 1rem;

}

.thankubox p{
    text-align: center;
    color: hsl(217, 12%, 63%)

}

.hidden{
    display: none;
}






.attribution{
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}





/* ----------- 374 - 450px ----------- */
@media screen 
  and (min-width: 375px) 
  and (max-width: 450px){
}

/* ----------- 450 - 650px ----------- */
@media screen 
  and (min-width: 451px) 
  and (max-width: 650px){
}

/* ----------- 650px - 950px ----------- */
@media screen 
  and (min-width: 651px)
  and (max-width: 950px){
}

/* ----------- 950px - 1200px ----------- */
@media screen 
  and (min-width: 951px) 
  and (max-width: 1200px){
}

/* ----------- 1200px + ----------- */
@media screen 
  and (min-width: 1201px){
}
