*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Overpass', sans-serif;
}

body{
    width: 100%;
    height: 100px;
    background-color: hsl(216, 12%, 8%);
    overflow: hidden;
}

.package{
    margin: 66px auto;
    background-color: hsl(213, 19%, 18%);
    width: 325px;
    height: 320px;
    position: relative;
    border-radius: 25px;
    top: 70px;
}

.img1{
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid hsl(213, 19%, 18%);
    padding: 12px;
    border-radius: 50%;
    background-color: hsla(215, 18%, 28%, 0.434);
}

.para1{
    position: absolute;
    top: 90px;
    left: 30px;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 600;
}

.para2{
    position: absolute;
    top: 125px;
    left: 30px;
    color: hsl(217, 12%, 63%);
    font-size: 13px;
}

.para3{
    position: absolute;
    top: 205px;
    left: 30px;
    color: hsl(217, 12%, 63%);
}

.button1{
    position: absolute;
    top: 195px;
    left: 30px;
    color: hsl(217, 12%, 63%);
    border: 1px solid hsl(213, 19%, 18%);
    padding: 12px 17px;
    border-radius: 50%;
    background-color: hsla(216, 17%, 32%, 0.322); 
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.946);
}

.button1:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.button1:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button1:active{
    background-color: hsl(217, 32%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: none;
}

.button2{
    position: absolute;
    top: 195px;
    left: 85px;
    color: hsl(217, 12%, 63%);
    border: 1px solid hsl(213, 19%, 18%);
    padding: 12px 17px;
    border-radius: 50%;
    background-color: hsla(216, 17%, 32%, 0.322); 
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.946);
}

.button2:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.button2:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button2:active{
    background-color: hsl(217, 32%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: none;
}

.button3{
    position: absolute;
    top: 195px;
    left: 140px;
    color: hsl(217, 12%, 63%);
    border: 1px solid hsl(213, 19%, 18%);
    padding: 12px 17px;
    border-radius: 50%;
    background-color: hsla(216, 17%, 32%, 0.322); 
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.946);
}

.button3:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.button3:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button3:active{
    background-color: hsl(217, 32%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: none;
}

.button4{
    position: absolute;
    top: 195px;
    left: 195px;
    color: hsl(217, 12%, 63%);
    border: 1px solid hsl(213, 19%, 18%);
    padding: 12px 17px;
    border-radius: 50%;
    background-color: hsla(216, 17%, 32%, 0.322); 
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.946);
}

.button4:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.button4:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button4:active{
    background-color: hsl(217, 32%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: none;
}

.button5{
    position: absolute;
    top: 195px;
    left: 250px;
    color: hsl(217, 12%, 63%);
    border: 1px solid hsl(213, 19%, 18%);
    padding: 12px 17px;
    border-radius: 50%;
    background-color: hsla(216, 17%, 32%, 0.322); 
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.946);
}

.button5:focus{
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.button5:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button5:active{
    background-color: hsl(217, 32%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: none;
}

.button{
    position: absolute;
    top: 260px;
    left: 30px;
    padding: 8px 110px;
    color: hsl(0, 0%, 100%);
    border: 0px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 16px;
    background-color: hsl(25, 97%, 53%);
}

.button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.button:active{
    background-color: hsl(217, 32%, 55%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    box-shadow: none;
}

.thankubox{
    visibility: hidden;
    position: relative;
    width: 315px;
    height: 335px;
    position: relative;
    border-radius: 25px;
    bottom: 310px;
    left: 40px;
    background-color: hsla(210, 26%, 16%, 0.967);
}

.img2{
    position: absolute;
    top: 30px;
    left: 75px;
}

.par1{
    position: absolute;
    top: 150px;
    left: 70px;
    padding: 4px 18px;
    color: hsl(25, 97%, 53%);
    font-size: 12px;
    opacity: 0.8;
    border-radius: 18px;
    background-color: hsla(210, 20%, 18%, 0.921);
}

.par2{
    position: absolute;
    top: 200px;
    left: 95px;
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}

.par3{
    position: absolute;
    top: 240px;
    left: 22px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    font-size: 12px;
    line-height: 1.6;
}






/* ----------- 374 - 450px ----------- */
@media screen 
  and (min-width: 375px) 
  and (max-width: 450px){
    .package{
        width: 295px;
        height: 330px;
    }
    img{
        left: 15px;
    }
    .para1{
        left: 15px;
    }
    .para2{
        left: 15px;
    }
    .para3{
        left: 15px;
    }
    .button{
        left: 13px;
    }
     br{
            display: none;
        }
    .one{
        padding: 10px 16px;
    }
    .two{
        padding: 10px 16px;
    }
    .one{
        padding: 10px 16px;
    }
    .one{
        padding: 10px 16px;
    }
    .one{
        padding: 10px 15px;
    }
}

/* ----------- 450 - 650px ----------- */
@media screen 
  and (min-width: 451px) 
  and (max-width: 650px){
}

/* ----------- 650px - 950px ----------- */
@media screen 
  and (min-width: 651px)
  and (max-width: 950px){
}

/* ----------- 950px - 1200px ----------- */
@media screen 
  and (min-width: 951px) 
  and (max-width: 1200px){
}

/* ----------- 1200px + ----------- */
@media screen 
  and (min-width: 1201px){
}
